@CHARSET "UTF-8";

body {
	background-color: Black;
	font: 12px/18px Arial, sans-serif;
	height: 100%;
}

/* article, aside, details, figcaption, figure, footer, header, hgroup,
	main, nav, section, summary {
	display: block;
} */

#page {
	/* 	background-image: url("../resources/images/radio_by_TiViD.jpg");
	background-repeat: no-repeat;
	background-size: cover; */
	width: 60%;
	position: relative;
	margin: 0px auto;
}

#page2 {
	/* 	background-image: url("../resources/images/radio_by_TiViD.jpg");
	background-repeat: no-repeat;
	background-size: cover; */
	width: 95%;
	position: relative;
	margin: 0px auto;
}

#header2 {
	margin-bottom: -3px;
	position: fixe;
	display: block;
	color: Cornsilk;
	margin-left: auto;
	margin-right: auto;
	background-color: #400000;
	height: 70px;
	text-align: center;
	/* 	padding-left: 42px;
	padding-right: 42px; */
	vertical-align: middle;
	border: solid white;
	border-bottom-style: none;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	box-shadow: 5px 0px 5px #888888;
	font-weight: bold;
	font-size: large;
	font-family: Verdana;
	border-top-left-radius: 20px;
}

#radioK7 {
	text-align: center;
	position: relative;
	/* 	display: inline-block; */
	padding: 10px;
}

.headerbtn {
	text-align: right;
	float: right;
	display: inline-block;
	display: -webkit-inline-box;
	display: -moz-inline-box;
	display: -webkit-inline-box; */
	/* vertical-align: middle; */
	margin-bottom: auto;
	margin-top: 10px;
	float: right;
	text-align: center;
	margin-right: 15px;
}

#bodyLogin {
	background-image:
		url("../resources/images/music_by_miggi4deviant-d30x239.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	padding: 20px;
	border: solid white;
	box-shadow: 5px 2px 5px #888888;
	margin-top: -7px;
	border-top-width: 6px;
}

/*Formatações Header */
/* #header {
	border-style: solid;
	border-width: 1px;
	border-color: #E6E6E6;
	box-shadow: 5px 5px 5px #888888;
	margin: 20px 20px 0px;
	height: 200px;
	color: Cornsilk;
} */

/* #tituloHeader {
	display: block;
	font-size: 40px;
	-webkit-margin-before: 140px;
	-webkit-margin-after: 0.67em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	font-weight: bold;
	color: white;
	background-color: rgba(0, 0, 0, 0.3);
	text-align: left;
} */
#loginRegisto {
	font-family: Verdana;
	text-align: center;
	color: Cornsilk;
	height: auto;
	width: 340px;
	margin-right: 3px;
	margin-top: auto;
	margin-bottom: auto;
	margin-left: auto;
	background-color: #400000;
	border: solid white 2px;
	border-radius: 20px;
	box-shadow: 5px 5px 5px #888888;
}

#loginRegisto1 {
	font-family: Verdana;
	text-align: center;
	color: Cornsilk;
	height: 400px;
	width: 800px;
	margin-right: 3px;
	margin-top: auto;
	margin-bottom: auto;
	margin-left: auto;
	background-color: #400000;
	border: solid white 2px;
	border-radius: 20px;
	box-shadow: 5px 5px 5px #888888;
}

#login {
	font-family: Verdana;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	display: -webkit-inline-box;
	display: inline-block;
}

#Registo {
	font-family: Verdana;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	display: -webkit-inline-box;
	display: inline-block;
}

.textoLogin {
	text-align: right;
	font-size: 12px;
	font-weight: bolder;
	font-family: Verdana;
	color: #c0c0c0;
}

.out {
	font-family: Verdana;
	color: lime;
	font-size: 14px;
	font-weight: bolder;
}

h1 {
	margin: 5px;
}

/* Formatação Navegação*/
#aside {    
    float: left;
    min-height: 500px;
    margin:50px;
}

.navbutton {
	font: bold 18px Tahoma, Geneva, sans-serif;
	font-style: normal;
	background-color: transparent;
	border: 5px solid #ffffff;
	border-radius: 25px 5px 25px 5px;
	cursor: pointer;
	margin: 0 auto;
	width: 170px;
	height: 40px;
	color: White
}

.navbutton:hover {
	background-color: #a0b8d6;;
	color: black;
}

.navlogin {
	min-height: 100px;
	float: right;
}

#navbuttons {
	
}

/*Formatações Content */
#article {
	border-style: solid;
	border-width: 1px;
	border-color: #E6E6E6;
	box-shadow: 5px 5px 5px #888888;
	padding: 15px;
	background-color: LightYellow;
	width: 67%;
	height: auto;
	margin: 20px;
	text-align: justify;
	color: black;
}

/*Formatações Footer */
#footer {
	border: solid white;
	box-shadow: 5px 5px 5px #888888;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	height: auto;
	width: auto;
	background-color: #400000;
	color: white;
	font-size: 12px;
	text-align: center;
	vertical-align: middle;
	font-weight: normal;
	font-family: Verdana;
	margin-top: -5px
}

/*Botões*/
.buto {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f9f9f9
		), color-stop(1, #e9e9e9));
	background: -moz-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background: -webkit-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background: -o-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background: -ms-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background: linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9',
		endColorstr='#e9e9e9', GradientType=0);
	background-color: #f9f9f9;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	display: inline-block;
	cursor: pointer;
	color: #666666;
	font-family: Arial;
	font-size: 14px;
	font-weight: bold;
	padding: 13px;
	text-decoration: none;
	text-shadow: 0px 1px 0px #ffffff;
}

.butopg {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f9f9f9
		), color-stop(1, #e9e9e9));
	background: -moz-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background: -webkit-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background: -o-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background: -ms-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background: linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9',
		endColorstr='#e9e9e9', GradientType=0);
	background-color: #f9f9f9;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	display: inline-block;
	cursor: pointer;
	color: #666666;
	font-family: Arial;
	font-size: 14px;
	font-weight: bold;
	padding: 13px;
	text-decoration: none;
	text-shadow: 0px 1px 0px #ffffff;
	height: 40px;
	width: 120px;
}

.buto:hover {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e9e9e9
		), color-stop(1, #f9f9f9));
	background: -moz-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
	background: -webkit-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
	background: -o-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
	background: -ms-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
	background: linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e9e9e9',
		endColorstr='#f9f9f9', GradientType=0);
	background-color: #e9e9e9;
}

.buto:active {
	position: relative;
	top: 1px;
}

.login {
	-webkit-border-top-left-radius: 15px;
	-moz-border-radius-topleft: 15px;
	border-top-left-radius: 15px;
	-webkit-border-top-right-radius: 0px;
	-moz-border-radius-topright: 0px;
	border-top-right-radius: 0px;
	-webkit-border-bottom-right-radius: 0px;
	-moz-border-radius-bottomright: 0px;
	border-bottom-right-radius: 0px;
	-webkit-border-bottom-left-radius: 0px;
	-moz-border-radius-bottomleft: 0px;
	border-bottom-left-radius: 0px;
}

.novoRegisto {
	-webkit-border-top-left-radius: 0px;
	-moz-border-radius-topleft: 0px;
	border-top-left-radius: 0px;
	-webkit-border-top-right-radius: 0px;
	-moz-border-radius-topright: 0px;
	border-top-right-radius: 0px;
	-webkit-border-bottom-right-radius: 15px;
	-moz-border-radius-bottomright: 15px;
	border-bottom-right-radius: 15px;
	-webkit-border-bottom-left-radius: 0px;
	-moz-border-radius-bottomleft: 0px;
	border-bottom-left-radius: 0px;
}

.registar {
	-webkit-border-top-left-radius: 15px;
	-moz-border-radius-topleft: 15px;
	border-top-left-radius: 15px;
	-webkit-border-top-right-radius: 0px;
	-moz-border-radius-topright: 0px;
	border-top-right-radius: 0px;
	-webkit-border-bottom-right-radius: 15px;
	-moz-border-radius-bottomright: 15px;
	border-bottom-right-radius: 15px;
	-webkit-border-bottom-left-radius: 0px;
	-moz-border-radius-bottomleft: 0px;
	border-bottom-left-radius: 0px;
}

/*Layout página*/
div[class|=ui-grid] {
	/*   background: red;  */
	text-align: center;
	padding: 10px;
	margin: 20px;
}

div[class|=ui-block] {
	font: 10px Verdana;
	color: #fff;
	padding: 10px;
	vertical-align: top;
	display: inline-block;
	position: relative;
}

.ui-block-a {
	height: auto;
	width: 18%;
}

.ui-block-b {
	height: auto;
	width: 68%;
}

.ui-block-c {
	height: auto;
	width: 5%;
}